{% extends 'base/base.html' %}

{% load static %}

{% block content %}

<div class="rounded-container" style="margin-bottom: 20px; height: 180px; overflow: hidden;">

    <div class="row">

        <div class="col-md " style="margin-left: 40px;">

            <h4> Database Status </h4>
            <br>
            <p style="font-size: 20px;">{{ total_spectra }} spectra</p>
            <p style="font-size: 20px;">{{ total_objects }} sources</p>
        
        </div>
          
        <div class="col-lg-4">
        </div>

        <div class="col-lg-4" style="height: 100%;">
            <!-- Skymap Plotly graph with height set to 100% of the parent container's height -->
            <div style="height: 100%;">
                {{ skymap_div|safe }}
            </div>
        </div>
    </div>

</div>




<div class="rounded-container" style="margin-bottom: 20px;">


<!-- Create a table structure -->
<table id="main-table" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>Object</th>
                <th>index</th>
                <th>MJD</th>
                <th>exptime</th> 
                <th>min wavelenght</th>
                <th>max wavelenght</th>

            </tr>
        </thead>
        <tbody>
                {% for spect in spect_objects %}
                <tr>
                    <td>{{ spect.spect_id }}</td>
                    <td>{{ spect.object.pretty_name }}</td>
                    <td>{{ spect.index }}</td>
                    <td>{{ spect.mjd }}</td>
                    <td>{{ spect.exptime }}</td>
                    <td>{{ spect.min_wavelenght }}</td>
                    <td>{{ spect.max_wavelenght }}</td>
                    
                </tr>
            {% endfor %}

        </tbody>
    </table>
    
</div>     


<div class="rounded-container" >

    <form id="filter-form" method="post" action="{% url 'dashboard' %}">
        <!-- Submit button -->
        <div class="col-md-2 ml-auto mb-3">
        <button type="submit" class="btn btn-success" style="width: 200px;">Select!</button>    
        </div>
    </form>
        
    <div style="display: flex; align-items: flex-end;">

        <!-- Wavelength -->
        <div style="display: inline-block;">
            <h3>Wavelength</h3>
            {{ wave_spect_plot|safe }}
        </div>
        
        <!-- Velocity -->
        <div style="display: inline-block;">
            <h3>Velocity</h3>
            <div class="input-group mb-5" style="max-width: 200px;">
                <div class="input-group-prepend">
                    <div class="input-group-text" style="font-size: smaller;">λ₀ (Å)</div>
                </div>
                <input type="text" class="form-control form-control-sm" id="wavelengthInput" placeholder="Enter wavelength">
            </div>
                                  
            {{ vel_spect_plot|safe }}
        </div>

    </div>


</div>

{% endblock %}



{% block scripts %}
    

{% endblock %}
