{% extends 'base/base.html' %}

{% load static %}

{% block content %}




<div class="rounded-container" style="margin-bottom: 20px; height: 250px; overflow: hidden;">

    <div class="row">

        <div class="col-md " style="margin-left: 40px;">

            <h4> Database Status </h4>
            <br>
            <p style="font-size: 20px;">{{ total_spectra }} spectra</p>
            <p style="font-size: 20px;">{{ total_objects }} sources</p>
        
        </div>
          
        <div class="col-lg-4">
        </div>

        <div class="col-lg-4" style="height: 100%;">
            <!-- Skymap Plotly graph with height set to 100% of the parent container's height -->
            <div style="height: 100%;">
                {{ skymap_div|safe }}
            </div>
        </div>
    </div>

</div>




<div class="rounded-container" style="margin-bottom: 20px;">

<form id="filter-form" method="post" action="{% url 'selection:process_selection' %}">

<!-- Submit button -->
<div class="col-md-2 ml-auto mb-3">
<button type="submit" class="btn btn-success" style="width: 200px;">Select!</button>
</div>

<!-- Create a table structure -->
<table id="main-table" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>Object</th>
                <th>slot</th>
                <th>MJD</th>
                <th>exptime</th> 
                <th>min wavelenght</th>
                <th>max wavelenght</th>

            </tr>
        </thead>
        <tbody>
                {% for spect in spect_objects %}
                <tr>
                    <td>{{ spect.spect_id }}</td>
                    <td>{{ spect.object.pretty_name }}</td>
                    <td>{{ spect.slot }}</td>
                    <td>{{ spect.mjd }}</td>
                    <td>{{ spect.exptime }}</td>
                    <td>{{ spect.min_wavelenght }}</td>
                    <td>{{ spect.max_wavelenght }}</td>
                    
                </tr>
            {% endfor %}

        </tbody>
    </table>
    
</form>
      

</div>     

{% endblock %}
